
body {
    margin: 0;
    font-family: 'Georgia', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.2px;
    color: rgba(0,0,0,0.7);
    background-color: #daede2;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}


.title {
    background: #ea2e49;
    color: #fff;
    display: inline-block;
    margin-bottom: 1em;
    padding: 0.5em 1em;
}

.footer-container
{
    background: rgba(246,247,146,0.9);
    clear: both;
    color: #33333;
    padding: 1em 5%;
    width: 50%;
}

.header-container{
    background: white;
    border-bottom: 0px solid #daede2;
}

.footer-container{
    background: rgba(246,247,146,0.9);
    border: none;
}
.footer-container footer {
    background: rgba(246,247,146,0.9);
    clear: both;
    color: #33333;
    padding: 1em 5%;
    width: 50%;
}